<!doctype html>
<html>
	<head>

	<!-- Page title -->
		<title>Like Today News</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/layout.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/awesome.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/lightbox.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/grid.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/colors.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/backgrounds.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/fonts.css"/>


		<!-- link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css"/ -->

		<style>
			body {
			  background-image: url('images/LikeTodayBackground.jpg');
			  background-size: cover; 
			}
			#froLo {
				width: 60%;
				height: 60;
				margin: 100px; 
				left: 8%;
			}
			#signinButton {
				vertical-align: middle; 
				float: right; 
				margin-top: 30px;
			}
			
		</style>
	</head>

	<script type="text/javascript">
      (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/client:plusone.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();
    </script>


	<body>
		<div class="container">
		<div class="row">
			<div class="col-md-4">
				<span id="signinButton">
					  Log In
	        	</span>
        	</div>
			<div class="col-md-4"><img id="froLo" src='images/liketoday-with-heart.png'></img></div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<form id="search" method="post" action="http://warm-peak-1670.herokuapp.com/subreq">
					<input type="text" name="searchF" id="sField" placeholder="Enter a topic you'd like to explore..">
					<input type="submit" id="but" value="Begin">
				</form>
			</div>
		</div>
		<div class="row">
			<div class="" style="
			margin: 0 auto;
			width: 400px;
			padding-top: 50px
			">
				Alpha Version 
					<a class="btn btn-primary" href="/Tech" style="
webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-transition-delay: 0s;
-webkit-transition-duration: 0.2s;
-webkit-transition-property: all;
-webkit-transition-timing-function: ease-in;
-webkit-user-select: none;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(66, 139, 202);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(53, 126, 189);
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(53, 126, 189);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(53, 126, 189);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(53, 126, 189);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: inline-block;
font-family: Verdana, Geneva, sans-serif;
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 34px;
line-height: 20px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
outline-color: rgb(255, 255, 255);
outline-style: none;
outline-width: 0px;
padding-bottom: 6px;
padding-left: 12px;
padding-right: 12px;
padding-top: 6px;
text-align: center;
text-decoration: none solid rgb(255, 255, 255);
transition-delay: 0s;
transition-duration: 0.2s;
transition-property: all;
transition-timing-function: ease-in;
vertical-align: middle;
white-space: nowrap;
width: 113px;
					">Start here...</a>
    		</div>
		</div>
	</div>
		


	</body>

</html> 
