<!doctype html>
<html>
	<head>

	<!-- Page title -->
		<title>iMagPress |  Magazine Flat Theme</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/layout.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/awesome.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/lightbox.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/grid.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/colors.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/backgrounds.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/fonts.css"/>
	</head>

	<body>
		<form id="search">
			<input type="text" id="sField" placeholder="Search..." required>
			<input type="button" id="but" value="Search">
		</form>
	</body>

</html> 
