<!doctype html>
<html>
	<head>

	<!-- Page title -->
		<title>Like Today News</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/layout.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/awesome.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/lightbox.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/grid.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/colors.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/backgrounds.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/fonts.css"/>

		<!-- -<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css"/> -->

		<style>
			body {
			  background-image: url('images/LikeTodayBackground.jpg');
			  background-size: cover; 
			}
			#froLo {
				width: 60%;
				height: 60;
				margin: 100px; 
				-webkit-filter: invert(100%); 
				left: 8%;
			}
			#signinButton {
				vertical-align: middle; 
				float: right; 
				margin-top: 30px;
			}
			
		</style>
	</head>

	<script type="text/javascript">
      (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/client:plusone.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();
    </script>


	<body>
		<div class="container">
		<div class="row">
			<div class="col-md-4">
				<span id="signinButton">
					  Log In
	        	</span>
        	</div>
			<div class="col-md-4"><img id="froLo" src='images/liketoday-with-heart.png'></img></div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<form id="search" method="post" action="http://warm-peak-1670.herokuapp.com/subreq">
					<input type="text" name="searchF" id="sField" placeholder="Enter a topic you'd like to explore..">
					<input type="submit" id="but" value="Begin">
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
	
    		</div>
		</div>
	</div>
		


	</body>

</html> 
