<!doctype html>
<html>
	<head>

	<!-- Page title -->
		<title>Test Structure </title>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/layout.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/awesome.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/lightbox.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/grid.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/colors.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/backgrounds.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/fonts.css"/>
	</head>
	<body>
		

		<% for(var i=0; i< some.length; i++) {%>
		<%= some[i].url %>
		<%= some[i].score %>
		<br>
		<% }%>


	</body>

</html> 
