/* ==========================================================================
   Body
   ========================================================================== */
body {background-color: #f1f1f1;background-image: url(../img/patterns/body_pattern.png)}
/* ==========================================================================
   Slider carousel
   ========================================================================== */
#carousel-container {background-color: #222;background-image: url(../img/patterns/diagmonds.png)}
/* ==========================================================================
   Intro block
   ========================================================================== */
#intro-block {background-color: #222;background-image: url(../img/patterns/diagmonds.png)}